<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static  'bootstrap.min.css' %}">
    <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
    <title>Student Information Portal</title>
</head>
<body>


    <div>
        <nav class="navbar navbar-expand-lg bg-success text-white">
      <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">{ Student Information Portal }</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active " aria-current="page" href="#">Projects</a>
            </li>

            <li class="nav-item">
              <a  class="nav-link active" href="#" aria-current="page" >about</a>
            </li>

            {% else %}
            <!-- <li class="nav-item">
              <a  class="nav-link active text-white" href="#" aria-current="page" >Signup</a>
            </li> -->
            {% endif %}

           

            <!-- <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>

            <li class="nav-item">
                  <a class="nav-link" href="/signup">Signup</a>
            </li> -->

            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li> -->
          </ul>
          {% if request.user.is_authenticated %}
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-dark" type="submit">Search</button>
          </form>
          {% endif %}
        </div>
      </div>
    </nav>
    </div>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="bg-success text-white py-4">
    <div class="container">
        <div class="row">
            <!-- About Section -->
            <div class="col-md-4 mb-3">
                <h5>About Us</h5>
                <p>
                    We are a team of passionate developers building modern and scalable web applications. 
                    Follow us on social media to stay updated with our latest projects.
                </p>
            </div>
            
            <!-- Quick Links Section -->
            <div class="col-md-4 mb-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Home</a></li>
                    <li><a href="#" class="text-white">About</a></li>
                    <li><a href="#" class="text-white">Services</a></li>
                    <li><a href="#" class="text-white">Contact</a></li>
                </ul>
            </div>
            
            <!-- Social Media Section -->
            <div class="col-md-4 mb-3">
                <h5>Follow Us</h5>
                <a href="#" class="text-white me-2"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="text-white me-2"><i class="fab fa-twitter"></i></a>
                <a href="#" class="text-white me-2"><i class="fab fa-instagram"></i></a>
                <a href="#" class="text-white me-2"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        
        <hr class="border-top border-secondary my-4">
        
        <div class="row">
            <div class="col text-center">
                <p class="mb-0">&copy; 2024 Your Company. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>

</body>
<script src="{% static 'vue.global.js' %}"></script>
</html>



